.demo {
  margin: 0;
  width: 100%;

  header {
    h3 { color: rgb(25,52,65); font-size: 2rem; }
  }
}

.chart-panel {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(204,204,204);
  border-radius: .25rem;
  box-shadow: 0 0 3px rgba(127,127,127,0.5);
}

.chart-panel__header {
  display: flex;
  justify-content: space-between;
  .chart-panel__title {
    flex: 1;
    margin: 0;
    padding: 1rem;
  }
  .chart-panel__toolbar {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    padding: 1rem;

    label {
      .label {
        display: inline-block;
        font-size: 0.8rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.charts {
  margin: 0 0 4rem 0;
}

.charts--d3,
.charts--chartjs,
.charts--recharts,
.charts--victory,
.charts--vx {
  display: grid;
  grid-gap: 2rem;
  .chart-panel__header {
    height: 3rem;
  }

  /* These styles maintain aspect ratio */
  .chart-panel__content {
    position: relative;
    padding: 0;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 56.25%;
    }

    .chart {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.chart-panel__content.a16_9 {
  &:before { padding-top: 56.25%; }
}
.chart-panel__content.a4_3 {
  &:before { padding-top: 75%; }
}

@media only screen  and (min-width : 1441px) {
  .charts--d3,
  .charts--chartjs,
  .charts--recharts,
  .charts--victory,
  .charts--vx {
    grid-template-columns: repeat(2, 48%);
  }
}

@media only screen  and (max-width : 1441px) {
  .charts--d3,
  .charts--chartjs,
  .charts--recharts,
  .charts--victory,
  .charts--vx {
    grid-template-columns: repeat(1, 99%);
  }
}
