.demo {
  margin: 0;
  width: 100%;

  header {
    h3 { color: rgb(25,52,65); font-size: 2rem; }
  }
}

.chart-panel {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(204,204,204);
  border-radius: .25rem;
  box-shadow: 0 0 3px rgba(127,127,127,0.5);
}

.charts {
  margin: 0 0 4rem 0;
}

.charts--d3,
.charts--chartjs,
.charts--recharts,
.charts--victory,
.charts--vx {
  display: grid;
  grid-gap: 2rem;

  .chart-panel__header {
    height: 3rem;
  }

  .chart-panel__content {
    margin: 0;
    padding: 0;
    min-height: 0;
  }
}

.charts--chartjs,
.charts--recharts,
.charts--victory,
.charts--vx {
  grid-template-columns: repeat(2, 49%);
}

.charts--chartjs,
.charts--recharts {
  .chart-panel__content {
    height: 30rem;
  }
}

.charts--d3 {
  grid-template-columns: repeat(1, 100%);
  .chart-panel { height: 32rem; }
}

.chart-panel__header {
  padding: 0;
  h4 { padding: 0 1rem; }
}

.chart-panel__content {
  margin: 1rem;
}

.chart-panel--wide {
  height: 500px;
  min-height: 500px;
  width: 1024px;
}
